body {
	font-family: Verdana;
	background-image: url(page-mock.png);
  	background-size: 1024px 885px;
 	background-repeat: no-repeat;
}

h2 {
	color: #f07c17;
	font-size: 1.41em;
}

p, li {
	color: #666666;
	line-height: 2;
	margin-left: 5px;
    font-size: 95.1%;
}

.title {
	color: #666666;
	margin-left: 259px;
	margin-top: 45px;
	font-size: 283%;
}

.feature {
	border: 2px solid lightgrey;
	width: 341px;
	height: 212px;
	margin-top: 28px;
    margin-left: 33px;
    padding-top: 9px;
    padding-left: 30px;
}

.list {
	color: #f07c17;
	margin-top: 28px;
	margin-left: -5px;
}

.rightTitle {
	margin-left: 438px;
	margin-top: -648px;
}

.paragraph_1 {
	margin-left: 433px;
    margin-top: 29px;
    width: 530px;
    height: 700px;
    font-size: 99%;
}

.paragraph_2 {
	margin-left: 434px;
    margin-top: -451px;
    width: 545px;
    height: 700px;
    font-size: 99%;
}

.paragraph_3 {
	margin-left: 433px;
    margin-top: -513px;
    width: 540px;
    height: 700px;
    font-size: 99.2%;
}

.cup {	
	margin-top: 21px;
	margin-left: 33px;
	width: 375px;
	height: 375px;
}
