body {
	//background: url(../images/page-mock.png);
	background-size: 1024px 885px; 
	background-repeat: no-repeat; 
	
	font-family: Verdana, sans-serif;
	color: #666666;
	font-size: 16px;
}

.container {
	width: 970px;
}

h1 {
	font-size: 49px;
	font-weight: normal;
	position: relative;
    left: 256px;
    margin-top: 41.6px;
    letter-spacing: -0.5px;
}

.left {
	width: 40%;
	float: left;
	position: relative;
    left: 34px; 
    margin-top: 
}
.right {
	width: 57%;
	float: left;
	position: relative;
    margin-top: -30px; 
}

img {
	width: 373px;
	margin-top: -5px;
}

.box {
	border: 1px solid #666666; 
	width: 372px;
	margin-top: 29px;
	padding-bottom: 24px;
}

h2 {
	color: #f07c17;
}

div.left h2 {
	margin-left: 30px;
    margin-top: 27px;
}

div.right h2 {
	margin-left: 51px;
    margin-top: 23px;
    margin-bottom: 29px;
}

ul {
	margin-top: 29px;
    margin-left: 30px;

    line-height: 200%;
}

p {
	margin-left: 50px;
	line-height: 32px;
    width: 620px;

    margin-top: 5px;
	margin-bottom: 10px;
}






